/*CSS pour que le slider soit vertical (source developer mozilla > input range)*/

.sliderWrapper {
    display: inline-block;
    width: 20px;
    height: 200px;
    padding: 0;
  }
  
  .sliderWrapper input {
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
  }

  
#sliderValueField {
}