.graph {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 80%;
}

#delete{
    background-color:#245582!important;
    border-color: #245582 !important;
  }

#graphBtn:hover{
    opacity: 0.7;
}

#delete:hover{
    opacity: 0.7;
  }