#retour {
    background-color: grey;
    height: 60px;
    width: 60px;
}

#retour:hover {
    background-color: lightgray;
}


/* CSS pour les switch parce que je n'ai pas trouvé comment le faire en bootstrap*/

.params {
      margin: 40px;
      font-family:"Montserrat";
  }

label {
     margin-left: 300px;
}