#retour {
    position: relative;
    top: 12%;
    width: 10%;
    margin-top: 1em;
}
/* CSS pour les switch parce que je n'ai pas trouvé comment le faire en bootstrap*/

.params {
      margin: 40px;
      font-family:"Montserrat";
      font-size: 20px;
      margin-left: 10%;
  }

h3 {
    text-align: center;
}

.config input {
    margin-left: 90%;
}