.text-center {
    font-family: "Montserrat";
}


#sliderNextButton{
    background-color:#245582!important;
    border-color: #245582 !important;
    font-size: 20px;
    font-family: "Montserrat";
}

#sliderNextButton:hover{
    background-color: #245582 !important;
    opacity: 0.7;
}