#leFinal {
    text-align: center;
    margin-top: 15%;
}

.final {
    width: 300px;
}

#recommencer {
    background-color:#245582!important;
    border-color: #245582 !important;
}

#recommencer:hover{
    opacity: 0.7;
}
#leRetour{
    background-color:rgb(0,0,0,0) !important;
    border-color: #245582 !important;
    color:  #245582;
}

#leRetour:hover{
    color: white;
    opacity: 0.7;
}

#quoteHouse{
    width:100%;
    text-align:center;
    margin-top:80px;
    font-size:24px;
    color:#245582;

}