.text-center{  
    font-family: 'Montserrat';   
}

.titre{
    color: #245582 ;
    letter-spacing: 5px;
    padding: 7% 0% 2%;
    font-size: 80px;

}

.commencer{
    font-size: 50px;
    color: #8F7E5D ;
    letter-spacing: 2px;
    background-color: #FFE9BE;
    margin: auto;
    width: 550px;
}

.commencer:hover{
    opacity:0.7;
    cursor:pointer;
}

.logo{
    max-width: 6% !important; 
    padding-bottom: 2%;
    max-height: auto;
}

.citation {
    display: none;
    width:100%;
    text-align:center;
    margin-top:100px;
    font-size:24px;
    color:#245582;
}

.citationMontagne {
    display: none;
    width:100%;
    text-align:center;
    margin-top:110px;
    font-size:24px;
    color:white;
}
