.text-center{  
    font-family: 'Montserrat';   
}

#titre{
    color: #245582 ;
    letter-spacing: 5px;
    padding-bottom: 2%;
    font-size: 350%;
}

.commencer{
    font-size: 200%;
    color: #8F7E5D ;
    letter-spacing: 2px;
    background-color: #FFE9BE;
}

.commencer:hover{
    opacity:0.7;
    cursor:pointer;
}

.logo{
    max-width: 50% !important; 
    padding-bottom: 2%;
    max-height: auto;
}

