.text-center{  
    font-family: 'Montserrat';   
}

#titre{
    font-size: 70px;
    color: #245582 ;
    letter-spacing: 5px;
    padding-bottom: 2%;
}

.commencer{
    font-size: 50px;
    color: #8F7E5D ;
    letter-spacing: 2px;
    background-color: #FFE9BE;
    padding: 1%;
}



.logo{
    max-width: 15% !important; 
    padding-bottom: 2%;
    max-height: auto;
}

