#container {
  height: 1700px;
  width: full-width;
  display: block;
  text-align: center;
  /*Cette ligne dessous rend les bulles cliquables, ne pas enlever  */
  z-index: 1;
  /*Cette ligne fait que les bulles apparaissent*/
  overflow: hidden;
  /*Cette ligne dessous rend les bulles cliquables, ne pas enlever  */
  position: relative;
}
.bubble {
  border-radius: 50%;
  background: transparent;
  box-shadow: inset 0 0 15px 1px white;
  cursor: pointer;
  position: absolute;
  bottom: -60px;
  /*Cette ligne dessous rend les bulles cliquables, ne pas enlever  */
 z-index: -2;
  }

#create {
    margin: 0 auto;
}