
#titreBis{
    color:#F7EAFF;
    letter-spacing: 5px;
    padding: 7% 0% 2%;
    font-size: 80px;
}

.commencerBis{
    font-size: 50px;
    color:#41449A;
    letter-spacing: 2px;
    background-color:white;
    margin: auto;
    width: 550px;
}

.commencerBis:hover{
    opacity:0.5;
    cursor:pointer;
}

.logo{
    max-width: 6% !important; 
    padding-bottom: 2%;
    max-height: auto;
}

